<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
  <base href="/">
  <title>{{title}}</title>
  <meta name="description" content="{{description}}">
  <meta name="fragment" content="!">

  <!-- Apple META -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <!-- Facebook META -->
  <meta property="fb:app_id" content="{{facebookAppId}}">
  <meta property="og:site_name" content="{{title}}">
  <meta property="og:title" content="{{title}}">
  <meta property="og:description" content="{{description}}">
  <meta property="og:url" content="{{url}}">
  <meta property="og:image" content="{{logo}}">
  <meta property="og:type" content="website">

  <!-- Twitter META -->
  <meta name="twitter:title" content="{{title}}">
  <meta name="twitter:description" content="{{description}}">
  <meta name="twitter:url" content="{{url}}">
  <meta name="twitter:image" content="{{logo}}">

  <!-- Web Fonts -->
  <!--<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin">-->
  <!-- Fav Icon -->
  <link href="{{favicon}}" rel="shortcut icon" type="image/x-icon">

  <!-- Application CSS Files -->
  {% for cssFile in cssFiles %}<link rel="stylesheet" href="{{cssFile}}">{% endfor %}
  <link rel="stylesheet" href="unify/css/style.css">
</head>

<body class = "wrapper">
  <header ng-include="'/modules/core/client/views/header.client.view.html'" class="navbar navbar-fixed-top navbar-default"></header>
  <section class="content">
    <section class="container">
      {% block content %}{% endblock %}
    </section>
  </section>


  <footer class="footer">
<div class="container"  style="margin-top: 5px">

          <div class="col-md-4">
            <span class="text-center">2015 &copy; All Rights Reserved. by <a target="_blank" href="https://twitter.com/paritet">Паритет</a></span>
          </div>

            <div class="col-md-8">
                <ul class="list-inline" style="float: right; margin-bottom: 0">
              <li>
                <i class="fa fa-home"></i>3, Металистов, Киев, Украина <br />
              </li>
              <li>
                <i class="fa fa-phone"></i>Телефон +380632859017 <br />
              </li>
              <li>
                <i class="fa fa-envelope"></i>Email: <a href="mailto:v.hrytsiienko@gmail.com">v.hrytsiienko@gmail.com</a>
              </li>
              </ul>
           </div>

  </div>
  </footer>
  <!--Embedding The User Object-->
  <script type="text/javascript">
    var user = {{ user | json | safe }};
  </script>

  <!--Load The Socket.io File-->
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>



  <!--Application JavaScript Files-->
  {% for jsFile in jsFiles %}<script type="text/javascript" src="{{jsFile}}"></script>{% endfor %}

  {% if livereload %}
  <!--Livereload script rendered -->
  <script type="text/javascript" src="{{host}}:35729/livereload.js"></script>
  {% endif %}




</body>



</html>
