<!--=== Slider ===-->
<div class="tp-banner-container">
  <div class="tp-banner">
    <ul>
      <!-- SLIDE -->
      <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Title 1">
        <!-- MAIN IMAGE -->
        <img src="unify/img/sliders/2.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

        <div class="tp-caption revolution-ch1 sft start"
             data-x="center"
             data-hoffset="0"
             data-y="100"
             data-speed="1500"
             data-start="500"
             data-easing="Back.easeInOut"
             data-endeasing="Power1.easeIn"
             data-endspeed="300">
          Introducing Unify Template
        </div>

        <!-- LAYER -->
        <div class="tp-caption revolution-ch2 sft"
             data-x="center"
             data-hoffset="0"
             data-y="190"
             data-speed="1400"
             data-start="2000"
             data-easing="Power4.easeOut"
             data-endspeed="300"
             data-endeasing="Power1.easeIn"
             data-captionhidden="off"
             style="z-index: 6">
          We are creative technology company providing <br/>
          key digital services on web and mobile.
        </div>

        <!-- LAYER -->
        <div class="tp-caption sft"
             data-x="center"
             data-hoffset="0"
             data-y="310"
             data-speed="1600"
             data-start="2800"
             data-easing="Power4.easeOut"
             data-endspeed="300"
             data-endeasing="Power1.easeIn"
             data-captionhidden="off"
             style="z-index: 6">
          <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-light">Learn More</a>
          <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-light">Our Work</a>
        </div>
      </li>
      <!-- END SLIDE -->

      <!-- SLIDE -->
      <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Title 2">
        <!-- MAIN IMAGE -->
        <img src="unify/img/sliders/6.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

        <div class="tp-caption revolution-ch1 sft start"
             data-x="center"
             data-hoffset="0"
             data-y="100"
             data-speed="1500"
             data-start="500"
             data-easing="Back.easeInOut"
             data-endeasing="Power1.easeIn"
             data-endspeed="300">
          Includes 160+ Template Pages
        </div>

        <!-- LAYER -->
        <div class="tp-caption revolution-ch2 sft"
             data-x="center"
             data-hoffset="0"
             data-y="190"
             data-speed="1400"
             data-start="2000"
             data-easing="Power4.easeOut"
             data-endspeed="300"
             data-endeasing="Power1.easeIn"
             data-captionhidden="off"
             style="z-index: 6">
          We are creative technology company providing <br/>
          key digital services on web and mobile.
        </div>

        <!-- LAYER -->
        <div class="tp-caption sft"
             data-x="center"
             data-hoffset="0"
             data-y="310"
             data-speed="1600"
             data-start="2800"
             data-easing="Power4.easeOut"
             data-endspeed="300"
             data-endeasing="Power1.easeIn"
             data-captionhidden="off"
             style="z-index: 6">
          <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-light">Learn More</a>
          <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-light">Our Work</a>
        </div>
      </li>
      <!-- END SLIDE -->

      <!-- SLIDE -->
      <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Title 3">
        <!-- MAIN IMAGE -->
        <img src="unify/img/sliders/5.jpg"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

        <div class="tp-caption revolution-ch1 sft start"
             data-x="center"
             data-hoffset="0"
             data-y="100"
             data-speed="1500"
             data-start="500"
             data-easing="Back.easeInOut"
             data-endeasing="Power1.easeIn"
             data-endspeed="300">
          Over 12000+ Satisfied Users
        </div>

        <!-- LAYER -->
        <div class="tp-caption revolution-ch2 sft"
             data-x="center"
             data-hoffset="0"
             data-y="190"
             data-speed="1400"
             data-start="2000"
             data-easing="Power4.easeOut"
             data-endspeed="300"
             data-endeasing="Power1.easeIn"
             data-captionhidden="off"
             style="z-index: 6">
          We are creative technology company providing <br/>
          key digital services on web and mobile.
        </div>

        <!-- LAYER -->
        <div class="tp-caption sft"
             data-x="center"
             data-hoffset="0"
             data-y="310"
             data-speed="1600"
             data-start="2800"
             data-easing="Power4.easeOut"
             data-endspeed="300"
             data-endeasing="Power1.easeIn"
             data-captionhidden="off"
             style="z-index: 6">
          <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-light">Learn More</a>
          <a href="#" class="btn-u btn-brd btn-brd-hover btn-u-light">Our Work</a>
        </div>
      </li>
      <!-- END SLIDE -->
    </ul>
    <div class="tp-bannertimer tp-bottom"></div>
  </div>
</div>
<!--=== End Slider ===-->


<section ng-controller="HomeController">

  <!--
          BEGIN: App-Loading Screen.
          --
          Until the AngularJS application code is loaded and bootstrapped, this is just
          "static HTML." Meaning, the [class-based] directive, "mAppLoading", won't
          actually do anything until the application is initialized. As such, we'll give
          it just enough CSS to "fail open"; then, when the AngularJS app loads, the
          directive will run and we'll remove this loading screen.
          NOTES ON ANIMATION:
          When the AngularJS application is loaded and starts bootstrapping, all
          animations are disabled until all the routing information and templating
          information is loaded AND at least two digests have run (in order to prevent
          a flurry of animation activity). As such, we can't animate the root of the
          directive. Instead, we have to add "ngAnimateChildren" to the root element
          and then animate the inner container. The "ngAnimateChildren" directive allows
          us to override the animation-blocking within the bounds of our directive, which
          is fine since it only runs once.
      -->
  <div class="m-app-loading" ng-animate-children>

    <!--
        HACKY CODE WARNING: I'm putting Style block inside directive so that it
        will be removed from the DOM when we remove the directive container.
    -->
    <style type="text/css">
      div.m-app-loading {
        position: fixed ;
      }
      div.m-app-loading div.animated-container {
        background-color: #333333 ;
        bottom: 0px ;
        left: 0px ;
        opacity: 1.0 ;
        position: fixed ;
        right: 0px ;
        top: 0px ;
        z-index: 999999 ;
      }
      /* Used to initialize the ng-leave animation state. */
      div.m-app-loading div.animated-container.ng-leave {
        opacity: 1.0 ;
        transition: all linear 200ms ;
        -webkit-transition: all linear 200ms ;
      }
      /* Used to set the end properties of the ng-leave animation state. */
      div.m-app-loading div.animated-container.ng-leave-active {
        opacity: 0 ;
      }
      div.m-app-loading div.messaging {
        color: #FFFFFF ;
        font-family: monospace ;
        left: 0px ;
        margin-top: -37px ;
        position: absolute ;
        right: 0px ;
        text-align: center ;
        top: 50% ;
      }
      div.m-app-loading h1 {
        font-size: 26px ;
        line-height: 35px ;
        margin: 0px 0px 20px 0px ;
      }
      div.m-app-loading p {
        font-size: 18px ;
        line-height: 14px ;
        margin: 0px 0px 0px 0px ;
      }
    </style>


    <!-- BEGIN: Actual animated container. -->
    <div class="animated-container">

      <div class="messaging">

        <h1>
          Сайт завантажується
        </h1>

        <p>
          Будьласка залишайтесь
        </p>

      </div>

    </div>
    <!-- END: Actual animated container. -->

  </div>
  <!-- END: App-Loading Screen. -->



  <!--&lt;!&ndash;=== Breadcrumbs v2 ===&ndash;&gt;-->
    <!--<div class="breadcrumbs-v2 faq-breadcrumb margin-bottom-20">-->
        <!--<div class="breadcrumbs-v2-in">-->

        <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash;=== End Breadcrumbs v2 ===&ndash;&gt;-->

   <div class="purchase">
        <div class="container">
            <div class="row">
                <div class="col-md-8 animated fadeInLeft">
                    <span>Главная страница, пока с тупыми текстами</span>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi  vehicula sem ut volutpat. Ut non libero magna fusce condimentum eleifend enim a feugiat corrupti quos.</p>
                </div>
                <div class="col-md-4 btn-buy animated fadeInRight">
                    <a ui-sref="createdoc" class="btn-u btn-u-lg"><i class="fa fa-cloud-download"></i>Конструктор документов</a>
                </div>
            </div>
        </div>
    </div><!--/row-->
    <!-- End Purchase Block -->

    <!--=== Content Part ===-->
    <div class="container content">
        <div class="margin-bottom-10"></div>
        <!-- Service Blocks -->
        <div class="row content-boxes-v2 margin-bottom-30">
            <div class="col-md-4 md-margin-bottom-30">
                <h2 class="heading-sm">
                    <a class="link-bg-icon" href="#">
                        <i class="icon-custom icon-sm rounded-x icon-bg-dark fa fa-compress"></i>
                        <span>Универсальность</span>
                    </a>
                </h2>
                <p class="text-justify">Система "вопрос-ответ" понятна и удобна пользователям без юридической подготовки.</p>
            </div>
            <div class="col-md-4 md-margin-bottom-30">
                <h2 class="heading-sm">
                    <a class="link-bg-icon" href="#">
                        <i class="icon-custom icon-sm rounded-x icon-bg-dark fa fa-html5"></i>
                        <span>Быстро и удобно</span>
                    </a>
                </h2>
                <p class="text-justify">Договор за 10-15 минут в любое удобное для Вас время. .</p>
            </div>
            <div class="col-md-4">
                <h2 class="heading-sm">
                    <a class="link-bg-icon" href="#">
                        <i class="icon-custom icon-sm rounded-x icon-bg-dark icon-line icon-rocket"></i>
                        <span>Индивидуальност</span>
                    </a>
                </h2>
                <p class="text-justify">Договор создается индивидуально под Ваши условия. Мы исключили любую шаблонность. .</p>
            </div>
        </div>

        <div class="row content-boxes-v2 margin-bottom-30">
            <div class="col-md-4 md-margin-bottom-30">
                <h2 class="heading-sm">
                    <a class="link-bg-icon" href="#">
                        <i class="icon-custom icon-sm rounded-x icon-bg-dark icon-line icon-support"></i>
                        <span>Доступность</span>
                    </a>
                </h2>
                <p class="text-justify">Составить онлайн-договор стоит всего 800 грн..</p>
            </div>
            <div class="col-md-4 md-margin-bottom-30">
                <h2 class="heading-sm">
                    <a class="link-bg-icon" href="#">
                        <i class="icon-custom icon-sm rounded-x icon-bg-dark fa fa-thumbs-o-up"></i>
                        <span>Качество</span>
                    </a>
                </h2>
                <p class="text-justify">Вы получаете юридически грамотные и полностью легитимные документы. ..</p>
            </div>
            <div class="col-md-4">
                <h2 class="heading-sm">
                    <a class="link-bg-icon" href="#">
                        <i class="icon-custom icon-sm rounded-x icon-bg-dark icon-line icon-present"></i>
                        <span>Всегда</span>
                    </a>
                </h2>
                <p class="text-justify">Только последние версии документов.</p>
            </div>
        </div>
        <!-- End Service Blokcs -->

      

    </div><!--/container-->
    <!-- End Content Part -->
<!-- JS from Unify -->

<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
       // LayerSlider.initLayerSlider();
        OwlCarousel.initOwlCarousel();
        OwlRecentWorks.initOwlRecentWorksV2();
      RevolutionSlider.initRSfullWidth();

      });
</script>


</section>
