.document-link{
	font-size: 15px;
}

.btn-u.btn-block {
  text-align: left;
}

@media (min-width: 992px){
	.question{
		margin-top: 0px;
	}
}


.form {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 5px;
    top: 5px;
    -webkit-box-shadow: 0 2px 2px 1px rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 1px rgba(0,0,0,0.2);
}
