.document-link{
	font-size: 15px;
}

.btn-u.btn-block {
  text-align: left;
}

@media (min-width: 992px){
	.question{
		margin-top: 0px;
	}
}


.form {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 5px;
    top: 5px;
    -webkit-box-shadow: 0 2px 2px 1px rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 1px rgba(0,0,0,0.2);
}

.panel-title{
    color : #00A000;
    
}


/*icon in tabs*/
i.icon-sm-tabs {
    width: 15px !important;
    height: 15px !important;
    font-size: 13px!important;
    line-height: 15px!important;
}





/* ANIMATIONS
============================================================================= */

/* leaving animations ----------------------------------------- */
/* rotate and fall */
@keyframes rotateFall {
    0%      { transform: rotateZ(0deg); }
    20%     { transform: rotateZ(10deg); animation-timing-function: ease-out; }
    40%     { transform: rotateZ(17deg); }
    60%     { transform: rotateZ(16deg); }
    100%    { transform: translateY(100%) rotateZ(17deg); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}

/* rotate out newspaper */
@keyframes rotateOutNewspaper {
    to      { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
    from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(-15%); }
    to      { transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
}





/* page specific animations ------------------------ */


/* about ------------------------ */
.my-animation.ng-enter        { animation:slideInRight 0.5s both ease-in; }
.my-animation.ng-leave        { animation:slideOutLeft 0.5s both ease-in; }


.radio input[type="radio"]{
    outline: none;
}

/*prevent body scroll*/
body.modal-open {
    overflow: hidden !important;
}

