<div ng-controller="AuthenticationController">
 <div class="row">
   <div class="margin-bottom-40"></div>
    <div class="col-xs-offset-2 col-xs-8 col-md-offset-3 col-md-6">
      <i class="user-img icon-user margin-bottom-40"></i>
      <form name="userForm" ng-submit="signin(userForm.$valid)" class="sky-form rounded" novalidate autocomplete="off">
        <header class="grey">Вход</header>
    <fieldset>
      <section>
        <div class="row form-group" show-errors>
          <label class="label col col-4">Имя пользователя</label>
          <div class="col col-8">
            <label class="input">
              <i class="icon-append fa fa-user"></i>
              <input type="text" id="username" name="username" class="form-control" ng-model="credentials.username" placeholder="Имя пользователя" lowercase required>
              <div ng-messages="userForm.username.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Введите имя пользователя</p>
              </div>
            </label>


          </div>
        </div>
      </section>

      <section>
        <div class="row form-group" show-errors>
          <label class="label col col-4">Пароль</label>
          <div class="col col-8">
            <label class="input">
              <i class="icon-append fa fa-lock"></i>
              <input  type="password" id="password" name="password" class="form-control" ng-model="credentials.password" placeholder="Пароль" required>
              <div ng-messages="userForm.password.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Введите пароль</p>
              </div>
            </label>
          </div>
        </div>
      </section>
    </fieldset>

      <div class="text-center form-group">
        <button type="submit" class="btn btn-primary rounded">Вход</button>
        &nbsp;или&nbsp;
        <a ui-sref="authentication.signup">Регистрация</a>
      </div>
      <alert type="danger" ng-show="error" class="text-center text-danger">
        <span ng-bind="error"></span>
      </alert>
        <div class="text-center forgot-password">
          <a ui-sref="password.forgot">Забыли пароль?</a>
        </div>
        <!--<footer>-->
      <!--<div class="col-md-12 text-center social-btn">-->
        <!--<img ng-click="callOauthProvider('/api/auth/facebook')" ng-src="/modules/users/client/img/buttons/facebook.png">-->
        <!--<img ng-click="callOauthProvider('/api/auth/twitter')" ng-src="/modules/users/client/img/buttons/twitter.png">-->
        <!--<img ng-click="callOauthProvider('/api/auth/google')" ng-src="/modules/users/client/img/buttons/google.png">-->
        <!--<img ng-click="callOauthProvider('/api/auth/linkedin')" ng-src="/modules/users/client/img/buttons/linkedin.png">-->
        <!--<img ng-click="callOauthProvider('/api/auth/github')" ng-src="/modules/users/client/img/buttons/github.png">-->
      <!--</div>-->

    </footer>
  </form>
</div>
<!-- End Login-Form -->



</div>
  </div>



